Package: com.cokepokes.supple
Name: Supple
Version: 0.1-1
Description: Loads FLEX into whatever app you have open by holding the status bar for .5 seconds. Works on A12! (Credit: NSExceptional)
Section: Tweaks
Depends: firmware (>= 10.0), mobilesubstrate
Conflicts: 
Replaces: 
Priority: optional
Architecture: iphoneos-arm
Author: CokePokes
dev: 
Homepage: 
Depiction:
SileoDepiction: https://cokepokes.github.io/depiction/supple/Supple
Maintainer: 
Icon: 

